/* Click Icon  */

.ont-modal-mem-btn-style svg {
  width: 22px;
  height: 22px;
  fill:#BFBFBF;
  margin: 0;
  padding: 0;
}

.ont-modal-mem-btn-style svg:hover {
  fill: #979797;
}

/* Modal */

.ont-modal-mem-style {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ont-modal-mem-content {
  margin: 10% auto;
  max-width: 1004px;
  background: #f5f5f6;
  box-shadow: 0 5px 10px 0 rgba(69,69,80,0.15);
  border-radius: 7px;
  animation-name: ontModalMembopen;
  animation-duration: 1.25s;
  padding: 40px;
  font-family: 'Proxima Nova Medium', Gotham, Montserrat, Trebuchet, sans-serif;
  color: #454550;
  font-weight: 500;
}

@keyframes ontModalMembopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ont-modal-mem-header h2 {
  margin: 16px 0px;
  font-family: 'Proxima Nova Extrabld', Gotham, Montserrat, Trebuchet, sans-serif;
  text-align: left;
  font-size: 20px;
  color: #454550;
}

.ont-modal-mem-header h3 {
  margin: 0 auto;
  font-family: 'Proxima Nova Extrabld', Gotham, Montserrat, Trebuchet, sans-serif;
  text-align: center;
  font-size: 32px;
  color: #454550;
  max-width: 600px;
  padding-bottom: 24px;
}

.ont-close-mem {
  width: 20px;
  float: right;
}

.ont-close-mem svg {
  width: 22px;
  height: 22px;
  fill:#BFBFBF;
}
.ont-close-mem svg:hover {
  fill: #979797;
}

.ont-close-mem:hover,
.ont-close-mem:focus {
  cursor: pointer;
}

/* Modal Tab Sections */

.ont-mem-benefits {
  display: block;
}

.ontech-logo-mem svg {
  width: 250px;
  margin: 0 70% 0 0;
}

/* Modal Tab Body  */

.benefits-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 7px;
  justify-content: flex-start !important;
  text-align: left;
}

.benefits-column-1, .benefits-column-2 {
  margin: 32px;
  width: 43%;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1 auto;
}

.benefits-column-1 {
  margin: 32px 0px 32px 32px;
}

.benefits-column-2 {
  overflow-y: auto;
}

.ont-service-column-2::-webkit-scrollbar {
  width: 12px;
}

.ont-service-column-2::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.ont-service-column-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
 background-color: #f5f5f6;
}

.benefits-row h4 {
  font-family: 'Proxima Nova Extrabld', Gotham, Montserrat, Trebuchet, sans-serif;
  font-size: 22px;
  color: #454550;
  line-height: 1.0em;
  text-align: left;
  margin: 0;
  padding: 10px 0 15px;
  text-transform: none;
  letter-spacing: 0.125px;
}

.benefits-row p {
  font-family: 'Proxima Nova Medium', Gotham, Montserrat, Trebuchet, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #454550;
  text-align: left;
  margin: 0;
  padding: 10px 0 15px;
  text-transform: none;
  letter-spacing: 0.25px;
}

.benefits-row p img {
  width: 54px;
  float: left;
  padding: 8px 10px 24px 0px;
}

.ont-modal-mem-z-up {
  z-index: 99999;
  }

/* Mobile */
@media only screen and (max-width: 480px) {
  .ontech-logo-mem svg {
    width: 200px !important;
    margin: 0 18% !important;
  }
  .ont-modal-mem-content {
    margin: 7% !important;
    padding: 12px !important;
  }
  .ont-modal-mem-header h2 {
    font-size: 20px !important;
    text-align: center !important;
  }
  .ont-modal-mem-header h3 {
    font-size: 20px !important;
  }
  .benefits-row  {
    padding: 0 !important;
  }
  .benefits-row h4 {
    font-size: 15px !important;
    padding: 0px 0 5px !important;
  }
  .benefits-row p {
    font-size: 14px !important;
  }
  .benefits-column-1 {
    margin: 16px 16px 0px 16px !important;
  }
  .benefits-column-2 {
    margin: 0px 16px 16px 16px !important;
  }
}